body{
	background-image: url(/static/img/casa.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
  	font-style:italic;
  	font-weight:normal;

  	width: 80px;

    letter-spacing:2px;
  


  
  }

form{

	color: white;
}

table, th, td, tr {

	color: white;
	font-family:helvetica;

}
 
#menu {

   margin: 20px	;
  padding: 10px	;
  font: normal 12px arial, helvetica, sans-serif;

  width: 1150%;
  margin:  -20px;
  margin-top: 10px;
  }
 
#menu ul  {
  list-style: none;
  margin: 0;
  }
 
#menu ul li {
  margin: 0;
  float: left;
  }
 
#menu ul li a {
  margin:0 2px;
  width: 138px;
  font-weight:bold;
  font-size:1.5em;
  text-align: center;
  line-height: 40px;
  display:block;
  text-decoration: none;
  }
 
#menu ul li a:hover {

  color:white;
  }
 
#uno a {

  
  color: #f00
  }
 
#dos a {
  
  color:  #7A0029;
  }
 
#tres a {
  
  color: #38001C;
  }
 
#cuatro a {
 color:  #7A0029;
  }
 
#cinco a {
   color: #0ff;
  }

 
#seis a {
   color: #0ff;
  }

 
#uno a:hover {
  background:#f00;
  }
 
#dos a:hover {
  background:#200000;
  }
 
#tres a:hover {
  background:#5A0000;
  }
 
#cuatro a:hover {
  background: #200000;
  }
 
#cinco a:hover {
  background:#0ff;
  }

 
#seis a:hover {
  background:#0ff;
  }

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 13px;
  left: 95%;
}
 



















 